#mainContainer{
    -fx-background-color: rgba(0,0,0,0.76) ;
}
#AddButton{
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url(/Files/add.png);
    -fx-cursor: hand;
}
.button:hover{
    -fx-opacity: 0.8;
}
#SearchField{
    -fx-background-color: inherit;
    -fx-text-fill: white;

}
.scroll-bar , .scroll-pane > .corner{
    -fx-background-color:rgba(0,0,0,0.86) ;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}
.scroll-pane > .viewport {
    -fx-background-color:rgba(0,0,0,0);
}
.scroll-pane{
    -fx-background-color: transparent;
}